@defer {
  <div class="row p-4">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Users</h2>
        <button (click)="modalService.displayModal('md', addUsersModal)" type="button" class="btn btn-primary">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="col-12">
      <app-user-list></app-user-list>
      @if((userService.users$ | async)?.length) {
        <app-pagination [service]="userService"></app-pagination>
      }
    </div>
  </div>
} @loading (minimum 1.5s){
  <app-loader></app-loader>
}

<ng-template #addUsersModal>
  <app-modal [hideFooter]="true">
    <div>
      <app-user-form
        [userForm]="userForm"
        (callSaveMethod)="saveUser($event)"
        (callUpdateMethod)="updateUser($event)"
      ></app-user-form>
    </div>
  </app-modal>
</ng-template>
