<div class="table-container table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Created</th>
        <th>Updated</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users$ | async; trackBy: trackById">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.lastname }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ item.updatedAt | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td class="text-center">
          <button (click)="deleteUser(item)" class="btn btn-danger">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="(users$ | async)?.length === 0">
        <td colspan="7" class="text-center">There are no users</td>
      </tr>
    </tbody>
  </table>
</div>
